/* Site Layout */
@import "section-default.css";
@import "header-default.css";
@import "footer-default.css";


body > header {
  background-color: transparent;
}

body > header,
body > main,
body > footer {
  padding: var(--core-space);
}

form > menu {
  padding: 0;
  display: flex;

  li {
    width: 100%;
  }
}

form > fieldset {
  margin-bottom: 0;
  button {
    background-color: transparent;
    color: currentColor;
    border-color: currentColor;
    width: auto;
    padding: var(--core-space-half) var(--core-space);
  }
}

@media (width > 780px) {
  body > header,
  body > main,
  body > footer {
    max-width: var(--core-maxWidth);
    margin: 0 auto;
  }

  body > main > article > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(3, auto);
    grid-gap: 1em;

    > hgroup,
    > menu {
      grid-column: 1 / span 2;
      margin: 0;
    }
  }
}
